<div id="container">
  <h1 id="call">Event Pages. Simplified</h1>
  <h3>Take the hassle out of putting on events.</h3>
  <%= link_to "Sign Up", new_event_owner_path, class: "btn btn-primary btn-lg", id: "btn-sign" %>
  <button class="btn btn-inverse btn-lg" id="btn-sign" type="button" data-toggle="dropdown">
  Demo
</div>

<div id="divide"><p>How it works</p></div>

<div class="evenly">
  <div class="item" id="item1">
    <i class="fa fa-sign-in fa-5x"></i>
    <p class="text">Signing up is easy. Create an account and tell us what more about your event.</p>
  </div>
  <div class="item" id="item2">
    <i class="fa fa-cogs fa-5x"></i>
    <p class="text">Once you have successfully signed up, connect your WePay account to start collecting fees for your event.</p>
  </div>
  <div class="item" id="item3">
    <i class="fa fa-users fa-5x"></i>
    <p class="text">That's it! Now share your page and you are on your way to having an awesome event.</p>
  </div>
</div>
