<div id="container">
  <h1 id="call">Event Pages. Simplified</h1>
  <h3>Take the hassle out of putting on events.</h3>
  <div class="btn-group">
      <button type="button" class="btn btn-primary btn-lg dropdown-toggle" id="btn-sign" data-toggle="dropdown">Sign Up<span class="caret red"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/register_oauth">Oauth</a></li>
        <li><a href="/register_custom">Custom</a></li>
      </ul>
  </div>
  <button class="btn btn-inverse btn-lg" id="btn-sign" type="button" data-toggle="dropdown">
  Demo
</div>

<div id="divide"><p>How it works</p></div>

<div class="evenly">
  <div class="item" id="item1">
    <i class="fa fa-sign-in fa-5x"></i>
    <p class="text">Signing up is easy. Create an account and tell us what more about your event.</p>
  </div>
  <div class="item" id="item2">
    <i class="fa fa-cogs fa-5x"></i>
    <p class="text">Once you have successfully signed up, connect your WePay account to start collecting fees for your event.</p>
  </div>
  <div class="item" id="item3">
    <i class="fa fa-users fa-5x"></i>
    <p class="text">That's it! Now share your page and you are on your way to having an awesome event.</p>
  </div>
</div>
